

body {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    text-align: justify;
    width: 500px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Nunito', sans-serif;
}

* {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.ingles {width: 90%; background-color: #04AA6D;} 
.tecnologia {width: 90%; background-color: #2196F3;} 
.responsabilidad {width: 95%; background-color: #f44336;} 
.disponibilidad {width: 100%; background-color: #808080;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(14, 101, 136); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: black;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
